* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.nav_bar {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  backdrop-filter: blur(5px);
}
.the_nav_bar {
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
}
.the_nav_bar a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.the_nav_bar a:hover {
  scale: 1.2;
}
.the_search_bar {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  gap: 10px;
}
#search_input {
  width: 94%;
  padding: 8px;
  border-radius: 10px;
  color: black;
  border: 1px solid gray;
}
#search_button {
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
}
.the_first_body {
  width: 100%;
  display: flex;
  padding: 40px 20px;
  gap: 20px;
  background-color: rgba(127, 157, 255, 0.383);
  height: auto;
}
.f_right_part {
  width: 50%;
  height: 500px;
  /* this is the text page */
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.f_left_part {
  border: 3px solid green;
  width: 50%;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  /* i used over flow hidden here so that the image will be inside the container */
}
.f_right_part h1 {
  /* i changed the front weight form 10000 to 40px */
  font-size: 50px;
  font-weight: bolder;
}
.f_left_part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f_right_part p {
  font-size: 20px;
  font-weight: 500;
}
.the_sec_layer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.the_sec_layer h1 {
  font-size: 30px;
  font-weight: 900;
  padding-block: 20px;
}
.the_sec_layer p {
  font-size: 18px;
}
.sec_lay_out {
  width: 100%;
  display: flex;
  border: 2px solid black;
  margin-block: 20px;
}

.right_sec_lay_out {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.hot_topic {
  width: 100%;
  background-color: brown;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.534);
}
.hot_topic:hover {
  scale: 1.02;
}
.hot_topic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left_the_sec_layer {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
}
.smaller_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.664);
  transition: 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}
.img_con {
  width: 100%;
  overflow: hidden;
  height: 200px;
  background-color: green;
  cursor: pointer;
}
.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.smaller_box:hover {
  scale: 1.03;
}

.smaller_box p {
  font-size: 17px;
  padding: 10px 0px;
}